@charset "utf-8";

/*  
   Mac's Dream Adventures Design Styles
   Author: Manuel R. McElroy Jr.
   Date: 7/13/2020     

   Filename: effects.css

*/

/* HTML Styles */
html {
  background: url("Background_1.jpg") fixed;
}


/* Body Styles */
body {
  background-image: url("Background_3.jpg"), radial-gradient(circle closest-corner at 40% 80%, white 15%, rgba(151, 151, 151, 0.5) 50%),
  radial-gradient(circle closest-corner at 80% 40%, white 15%, rgba(0, 0, 0, 0) 30%),
  radial-gradient(circle closest-side at 10% 20%, white 20%, rgba(0, 0, 0, 0) 45%),
  radial-gradient(5% 5% at 90% 10%, white 15%, rgba(0, 0, 0, 0) 40%);

  background-color: rgb(151, 151, 151);

  box-shadow: rgb(31, 31, 31) 30px 0px 45px,
        rgb(31, 31, 31) -30px 0px 45px;
  background-image: url('Background_3.jpg');
  background-repeat: repeat;
  background-attachment: float;		
  background-position: right-side;
}

/* Navigation List Styles */
body > header a {
  border: 5px outset rgb(211, 211, 255);
}

/* Section Left Styles */
section#left article h1 {
  color: rgb(211, 211, 211);
  text-shadow: black 0px 0px 5px;
}

img#mportrait {
  -webkit-filter: drop-shadow(-15px 0px 5px rgba(51, 51, 51, 0.9)) grayscale(0.7) opacity(0.6);
  filter: drop-shadow(-15px 0px 5px rgba(51, 51, 51, 0.9)) grayscale(0.7) opacity(0.6);
  -webkit-transform: rotateY(180deg);
}


/* Footer Styles */
body > footer {
  border-top: 2px solid rgb(171, 171, 171);
}

